<%- include('partials/header') -%>
<h1 class="pageTitle">Add a post</h1>

<div class="composeBox">
    <div class="w3-card-4 w3-padding">

        <form action="/" method="POST">
            <input class="w3-input largeText" type="text" name="headline" placeholder="Add Title to the Post">

            <textarea class="w3-input" id="contentBox" rows="4" cols="50" name="content"
                placeholder="Write Content here"></textarea>

            <button class="w3-button w3-round-xxlarge w3-grey w3-hover-green" style="width: 20%; margin:5px;"
                type="submit">Post</button>
        </form>
    </div>
    <br>
</div>



<%- include('partials/footer') -%>