<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BlogPost</title>
    <link rel="stylesheet" href="css/styles.css">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
</head>

<body>
    <div class="w3-bar w3-paddinng w3-border w3-light-grey w3-large">
        <a href="/" class="w3-bar-item w3-button">BlogApp.com</a>
        <a href="/contactUs" class="w3-bar-item w3-button w3-right">Contact us</a>
        <a href="/aboutUs" class="w3-bar-item w3-button w3-right">About us</a>
        <a href="/addPosts" class="w3-bar-item w3-button w3-right">Add Posts</a>



    </div>