<%-include('header')-%>


<div class="mainBody">
    <% for(var i=0; i<homeData.length;i++){ %>
    <div class="postItem">
        <p> <%=homeData[i]%></p>
    </div>
    <% } %>
</div>



<%-include('footer')-%>