<%-include('partials/header')-%>


<div class="mainBody">
    <% for(var i=0; i<homeData.length;i++){ %>
    <div class="postItem">
        <h3><%= homeData[i].head %></h3>
        <p> <%= homeData[i].body %></p>
    </div>
    <% } %>
</div>



<%-include('partials/footer')-%>